In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data=pd.read_csv("India_housing_prices.csv")
data

,ID,State,City,Locality,Property_Type,BHK,Size_in_SqFt,Price_in_Lakhs,Price_per_SqFt,Year_Built,...,Age_of_Property,Nearby_Schools,Nearby_Hospitals,Public_Transport_Accessibility,Parking_Space,Security,Amenities,Facing,Owner_Type,Availability_Status
0,1,Tamil Nadu,Chennai,Locality_84,Apartment,1,4740,489.76,0.10,1990,...,35,10,3,High,No,No,"Playground, Gym, Garden, Pool, Clubhouse",West,Owner,Ready_to_Move
1,2,Maharashtra,Pune,Locality_490,Independent House,3,2364,195.52,0.08,2008,...,17,8,1,Low,No,Yes,"Playground, Clubhouse, Pool, Gym, Garden",North,Builder,Under_Construction
2,3,Punjab,Ludhiana,Locality_167,Apartment,2,3642,183.79,0.05,1997,...,28,9,8,Low,Yes,No,"Clubhouse, Pool, Playground, Gym",South,Broker,Ready_to_Move
3,4,Rajasthan,Jodhpur,Locality_393,Independent House,2,2741,300.29,0.11,1991,...,34,5,7,High,Yes,Yes,"Playground, Clubhouse, Gym, Pool, Garden",North,Builder,Ready_to_Move
4,5,Rajasthan,Jaipur,Locality_466,Villa,4,4823,182.90,0.04,2002,...,23,4,9,Low,No,Yes,"Playground, Garden, Gym, Pool, Clubhouse",East,Builder,Ready_to_Move
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,249996,Gujarat,Ahmedabad,Locality_187,Independent House,5,1995,274.75,0.14,1995,...,30,8,6,Low,No,No,"Playground, Garden, Gym, Clubhouse, Pool",East,Broker,Under_Construction
249996,249997,Tamil Nadu,Chennai,Locality_348,Apartment,1,2293,13.40,0.01,2013,...,12,8,10,Low,No,No,Playground,South,Broker,Ready_to_Move
249997,249998,Telangana,Warangal,Locality_225,Villa,4,2910,236.94,0.08,2003,...,22,10,4,High,Yes,Yes,Playground,South,Builder,Under_Construction
249998,249999,Odisha,Cuttack,Locality_138,Villa,1,1149,141.66,0.12,2007,...,18,3,7,Low,Yes,Yes,"Playground, Gym, Pool",South,Owner,Ready_to_Move
249999,250000,Haryana,Gurgaon,Locality_268,Independent House,3,4313,199.69,0.05,1990,...,35,10,6,Medium,No,No,"Gym, Garden",South,Owner,Under_Construction

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 23 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID                              250000 non-null  int64
 1   State                           250000 non-null  object
 2   City                            250000 non-null  object
 3   Locality                        250000 non-null  object
 4   Property_Type                   250000 non-null  object
 5   BHK                             250000 non-null  int64
 6   Size_in_SqFt                    250000 non-null  int64
 7   Price_in_Lakhs                  250000 non-null  float64
 8   Price_per_SqFt                  250000 non-null  float64
 9   Year_Built                      250000 non-null  int64
 10  Furnished_Status                250000 non-null  object
 11  Floor_No                        250000 non-null  int64
 12  Total_Floors                    250000 non-null  int64
 13  Age_of_Property                 250000 non-null  int64
 14  Nearby_Schools                  250000 non-null  int64
 15  Nearby_Hospitals                250000 non-null  int64
 16  Public_Transport_Accessibility  250000 non-null  object
 17  Parking_Space                   250000 non-null  object
 18  Security                        250000 non-null  object
 19  Amenities                       250000 non-null  object
 20  Facing                          250000 non-null  object
 21  Owner_Type                      250000 non-null  object
 22  Availability_Status             250000 non-null  object
dtypes: float64(2), int64(9), object(12)
memory usage: 43.9+ MB

In [4]:
# Import LabelEncoder
from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder for columns like 'Furnished_Status', which are ordinal
label_encoder = LabelEncoder()

# Encoding 'Furnished_Status' and other object-type columns
data['Furnished_Status'] = label_encoder.fit_transform(data['Furnished_Status'])
data['Public_Transport_Accessibility'] = label_encoder.fit_transform(data['Public_Transport_Accessibility'])
data['Parking_Space'] = label_encoder.fit_transform(data['Parking_Space'])
data['Security'] = label_encoder.fit_transform(data['Security'])
data['Availability_Status'] = label_encoder.fit_transform(data['Availability_Status'])

# Now the dataset should only contain numeric columns
print(data.head())

   ID        State      City      Locality      Property_Type  BHK  \
0   1   Tamil Nadu   Chennai   Locality_84          Apartment    1
1   2  Maharashtra      Pune  Locality_490  Independent House    3
2   3       Punjab  Ludhiana  Locality_167          Apartment    2
3   4    Rajasthan   Jodhpur  Locality_393  Independent House    2
4   5    Rajasthan    Jaipur  Locality_466              Villa    4

   Size_in_SqFt  Price_in_Lakhs  Price_per_SqFt  Year_Built  ...  \
0          4740          489.76            0.10        1990  ...
1          2364          195.52            0.08        2008  ...
2          3642          183.79            0.05        1997  ...
3          2741          300.29            0.11        1991  ...
4          4823          182.90            0.04        2002  ...

   Age_of_Property  Nearby_Schools  Nearby_Hospitals  \
0               35              10                 3
1               17               8                 1
2               28               9                 8
3               34               5                 7
4               23               4                 9

   Public_Transport_Accessibility  Parking_Space  Security  \
0                               0              0         0
1                               1              0         1
2                               1              1         0
3                               0              1         1
4                               1              0         1

                                  Amenities  Facing  Owner_Type  \
0  Playground, Gym, Garden, Pool, Clubhouse    West       Owner
1  Playground, Clubhouse, Pool, Gym, Garden   North     Builder
2          Clubhouse, Pool, Playground, Gym   South      Broker
3  Playground, Clubhouse, Gym, Pool, Garden   North     Builder
4  Playground, Garden, Gym, Pool, Clubhouse    East     Builder

  Availability_Status
0                   0
1                   1
2                   0
3                   0
4                   0

[5 rows x 23 columns]

In [6]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from tpot import TPOTRegressor

# Create a LabelEncoder for ordinal columns
label_encoder = LabelEncoder()

# Encoding 'Furnished_Status' and other object-type columns
data['Furnished_Status'] = label_encoder.fit_transform(data['Furnished_Status'])
data['Public_Transport_Accessibility'] = label_encoder.fit_transform(data['Public_Transport_Accessibility'])
data['Parking_Space'] = label_encoder.fit_transform(data['Parking_Space'])
data['Security'] = label_encoder.fit_transform(data['Security'])
data['Availability_Status'] = label_encoder.fit_transform(data['Availability_Status'])

# Check for any remaining non-numeric columns
print(data.dtypes)  # This will show the data types of each column

# Define features (X) and target variable (y)
X = data.drop(columns=['Price_in_Lakhs'])  # All columns except 'Price_in_Lakhs'
y = data['Price_in_Lakhs']  # The target variable is 'Price_in_Lakhs'

# Split the data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Drop any remaining non-numeric columns (like 'State')
X_train = X_train.select_dtypes(include=['number'])  # Keep only numeric columns
X_test = X_test.select_dtypes(include=['number'])    # Keep only numeric columns
print(X_train.isnull().sum())
print(X_test.isnull().sum())

ID                                  int64
State                              object
City                               object
Locality                           object
Property_Type                      object
BHK                                 int64
Size_in_SqFt                        int64
Price_in_Lakhs                    float64
Price_per_SqFt                    float64
Year_Built                          int64
Furnished_Status                    int64
Floor_No                            int64
Total_Floors                        int64
Age_of_Property                     int64
Nearby_Schools                      int64
Nearby_Hospitals                    int64
Public_Transport_Accessibility      int64
Parking_Space                       int64
Security                            int64
Amenities                          object
Facing                             object
Owner_Type                         object
Availability_Status                 int64
dtype: object
ID                                0
BHK                               0
Size_in_SqFt                      0
Price_per_SqFt                    0
Year_Built                        0
Furnished_Status                  0
Floor_No                          0
Total_Floors                      0
Age_of_Property                   0
Nearby_Schools                    0
Nearby_Hospitals                  0
Public_Transport_Accessibility    0
Parking_Space                     0
Security                          0
Availability_Status               0
dtype: int64
ID                                0
BHK                               0
Size_in_SqFt                      0
Price_per_SqFt                    0
Year_Built                        0
Furnished_Status                  0
Floor_No                          0
Total_Floors                      0
Age_of_Property                   0
Nearby_Schools                    0
Nearby_Hospitals                  0
Public_Transport_Accessibility    0
Parking_Space                     0
Security                          0
Availability_Status               0
dtype: int64

In [7]:
print(X_train.shape)
print(X_test.shape)

(200000, 15)
(50000, 15)

In [8]:
# Initialize the TPOTRegressor with hyperparameters for optimization
tpot = TPOTRegressor(
    generations=5,      # Number of generations for optimization
    population_size=20, # Size of the population in each generation
    random_state=42,    # Seed for reproducibility
    cv=5,               # Cross-validation folds
    verbosity=2         # Verbosity level for logging progress
)
# Randomly sample a subset of the training data
X_train_sub, _, y_train_sub, _ = train_test_split(X_train, y_train, test_size=0.9, random_state=42)

# Train on the subset
tpot.fit(X_train_sub, y_train_sub)

# Optionally, export the pipeline to a Python script
tpot.export('best_model_pipeline.py')

Optimization Progress:   0%|          | 0/120 [00:00<?, ?pipeline/s]

Generation 1 - Current best internal CV score: -87.64311231302432

Generation 2 - Current best internal CV score: -83.48603158463241

Generation 3 - Current best internal CV score: -83.48603158463241

Generation 4 - Current best internal CV score: -83.48603158463241

Generation 5 - Current best internal CV score: -79.44041386931725

Best pipeline: DecisionTreeRegressor(PolynomialFeatures(input_matrix, degree=2, include_bias=False, interaction_only=False), max_depth=6, min_samples_leaf=17, min_samples_split=5)

In [23]:
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.feature_selection import SelectKBest, f_regression

# Load the dataset
tpot_data = pd.read_csv('India_housing_prices.csv', sep=',')

# Handle missing values
numeric_columns = tpot_data.select_dtypes(include=[np.number]).columns
categorical_columns = tpot_data.select_dtypes(include=['object']).columns

tpot_data[numeric_columns] = tpot_data[numeric_columns].fillna(tpot_data[numeric_columns].median())
tpot_data[categorical_columns] = tpot_data[categorical_columns].apply(lambda x: x.fillna(x.mode()[0]))

# One-hot encoding for categorical variables
tpot_data = pd.get_dummies(tpot_data, columns=categorical_columns, drop_first=True)

# Ensure all columns are numeric
tpot_data = tpot_data.apply(pd.to_numeric, errors='coerce')

# Drop rows/columns with NaN or non-numeric values (as a last resort)
tpot_data = tpot_data.dropna(axis=0)

# Convert to sparse matrix
tpot_data_values = tpot_data.values.astype(np.float64)
tpot_data_sparse = csr_matrix(tpot_data_values)

# Define target and features
target_column = 'Price_in_Lakhs'
target_index = tpot_data.columns.get_loc(target_column)
features_sparse = tpot_data_sparse[:, [i for i in range(tpot_data_sparse.shape[1]) if i != target_index]]
target = tpot_data[target_column].values

# Split the dataset
training_features, testing_features, training_target, testing_target = train_test_split(
    features_sparse, target, test_size=0.2, random_state=42
)

# Select top 1000 features
selector = SelectKBest(f_regression, k=1000)
training_features = selector.fit_transform(training_features, training_target)
testing_features = selector.transform(testing_features)

# Train a DecisionTreeRegressor
pipeline = make_pipeline(
    DecisionTreeRegressor(max_depth=6, min_samples_leaf=17, min_samples_split=5, random_state=42)
)

pipeline.fit(training_features, training_target)

# Predictions and evaluation
predictions = pipeline.predict(testing_features)
r2 = r2_score(testing_target, predictions)
mse = mean_squared_error(testing_target, predictions)
rmse = np.sqrt(mse)

print(f"R^2 Score: {r2}")
print(f"Mean Squared Error: {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")

C:\Users\SOHAM K\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\feature_selection\_univariate_selection.py:776: UserWarning: k=1000 is greater than n_features=907. All the features will be returned.
  warnings.warn(

R^2 Score: 0.9373011478336362
Mean Squared Error: 1249.933314571341
Root Mean Squared Error (RMSE): 35.354395972372956

In [24]:
# Calculate Mean Absolute Percentage Error (MAPE)
mape = np.mean(np.abs((testing_target - predictions) / testing_target)) * 100
print(f"Mean Absolute Percentage Error (MAPE): {mape:.2f}%")

Mean Absolute Percentage Error (MAPE): 12.28%